<div class="row">
  <div class="col-12 mb-2">
    <mat-card class='text-center'>
      <h1>Welcome to the Agent Support Tool</h1>
      <h6>This app has been designed to centralize our daily tools and resources.</h6>
    </mat-card>
  </div>
  <div class="col-12">
    <!-- <h4>These are the available features:</h4> -->
    <ng-container *ngIf='!!actions.length;else isLoadingActions'>
      <div class="row features">
        <ng-container *ngFor='let link of actions'>
          <div class="col-12 col-sm-6 col-md-4 mb-2">
            <mat-card class='text-center link-container' [routerLink]='link.route' style='cursor:pointer;'>
              <h3>{{ link.label }}</h3>
              <mat-icon>{{ link.icon }}</mat-icon>
            </mat-card>
          </div>
        </ng-container>
        <div class="col-12 col-sm-6 col-md-4 mb-2">
          <mat-card class='text-center link-container' routerLink='/profile' style='cursor:pointer;'>
            <h3>Profile</h3>
            <mat-icon>person</mat-icon>
          </mat-card>
        </div>
      </div>
    </ng-container>
    <ng-template #isLoadingActions>
      <h1 class='text-center'>Loading links...</h1>
      <mat-spinner class="mx-auto"></mat-spinner>
    </ng-template>
  </div>
  <div class="col-12">
    <!-- <h4>These are the available quick links:</h4> -->
    <ng-container *ngIf='!!links.length;else isLoadingLinks'>
      <div class="row links">
        <ng-container *ngFor='let link of links'>
          <div class="col-12 col-sm-6 col-md-4 mb-2">
            <mat-card>
              <h3 class='text-center'>{{ link.label }}</h3>
              <mat-list>
                <a *ngFor='let childLink of link?.children' mat-list-item [href]="childLink.route"
                  target="_blank">{{ childLink.label }}</a>
              </mat-list>
            </mat-card>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #isLoadingLinks>
      <h1 class='text-center'>Loading links...</h1>
      <mat-spinner class="mx-auto"></mat-spinner>
    </ng-template>
  </div>
</div>