<div class="row">
  <div class="col-12">
    <mat-form-field class="full-width">
      <mat-select placeholder='Search agents by' [(ngModel)]='filterBy' name='filterBy' (selectionChange)="searchValue='';onFilterChange($event.value)" [disabled]='loading'>
        <mat-option value='specialization'>Specialization</mat-option>
        <mat-option value='ldap'>LDAP</mat-option>
        <mat-option value='supervisorName'>Supervisor</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12">
    <ng-container [ngSwitch]='filterBy'>
      <ng-container *ngSwitchCase="'ldap'">
        <mat-form-field class="full-width">
          <input matInput placeholder='LDAP' type="text" [(ngModel)]='searchValue' name='searchValue' (keyup)="onSearchLDAP(searchValue != '',$event)" [disabled]='loading'>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'specialization'">
        <mat-form-field class="full-width">
          <mat-select placeholder='Specialization' [(ngModel)]='searchValue' name='searchValue' [disabled]='loading'>
            <mat-option *ngFor='let specialization of specializations' [value]='specialization'>{{ specialization }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'supervisorName'">
        <mat-form-field class="full-width">
          <mat-select placeholder='Supervisor name' [(ngModel)]='searchValue' name='searchValue' [disabled]='loading || !staffs.length'>
            <mat-option *ngFor='let staff of staffs' [value]='staff.name'>{{ staff.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <h6>
          Please select an option to search for agents
        </h6>
      </ng-container>
    </ng-container>
  </div>
  <div class="col-12">
    <button mat-button type='button' (click)='getAgents()' [disabled]='searchValue == "" || loading'>Search</button>
  </div>
</div>