<div class="mat-elevation-z0">
  <table mat-table [dataSource]="dataSource">

    <!-- LDAP Column -->
    <ng-container matColumnDef="ldap">
      <th mat-header-cell *matHeaderCellDef> LDAP </th>
      <td mat-cell *matCellDef="let element"> {{element.ldap}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Specialization Column -->
    <ng-container matColumnDef="specialization">
      <th mat-header-cell *matHeaderCellDef> Specialization </th>
      <td mat-cell *matCellDef="let element"> {{element.specialization}} </td>
    </ng-container>

    <!-- language Column -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> Language </th>
      <td mat-cell *matCellDef="let element"> {{element.language}} </td>
    </ng-container>

    <!-- channel Column -->
    <ng-container matColumnDef="channel">
      <th mat-header-cell *matHeaderCellDef> Channel </th>
      <td mat-cell *matCellDef="let element"> {{element.channel}} </td>
    </ng-container>

    <!-- WorkdayID Column -->
    <ng-container matColumnDef="workdayID">
      <th mat-header-cell *matHeaderCellDef> Workday ID </th>
      <td mat-cell *matCellDef="let element"> {{element.workdayID}} </td>
    </ng-container>

    <!-- supervisorName Column -->
    <ng-container matColumnDef="supervisorName">
      <th mat-header-cell *matHeaderCellDef> Supervisor name </th>
      <td mat-cell *matCellDef="let element"> {{element.supervisorName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <ng-container *ngIf='$loading | async as loading;else isLoaded'>
    <mat-spinner diameter='30' class="mx-auto"></mat-spinner>
  </ng-container>
  <ng-template #isLoaded>
    <h3 *ngIf='!dataSource.data?.length' class="text-center">No agents found</h3> 
  </ng-template>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>