<form #f='ngForm'>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 my-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Contact information</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class='py-5'>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder='Contact name' [(ngModel)]='comment.name' name='name'>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder='Email address' [(ngModel)]='comment.email' name='email'>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder='Phone number' [(ngModel)]='comment.phone' name='phone'>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder='Domain name' [(ngModel)]='comment.domain' name='domain'>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>CCA information</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="full-width">
            <textarea matInput placeholder='Reason for the call' rows='5' [(ngModel)]='comment.reason'
              name='reason'></textarea>
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder='Issue identification' rows='5' [(ngModel)]='comment.identification'
              name='identification'></textarea>
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder='Selected TAG reasoning' rows='5' [(ngModel)]='comment.reasoning'
              name='reasoning'></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Case relevant information</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="full-width">
            <mat-select placeholder='Feature idea' [(ngModel)]='comment.featureIdea' name='featureIdea'>
              <mat-option value=''></mat-option>
              <mat-option *ngFor="let featureIdea of featureIdeas" [value]="featureIdea" [matTooltip]='featureIdea'>
                {{featureIdea}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder='Relevant information or secondary issues/questions' rows='7'
              [(ngModel)]='comment.secondary' name='secondary'></textarea>
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder='Issue resolution' rows='5' [(ngModel)]='comment.resolution'
              name='resolution'></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Email and PIN verification</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="my-2">
            <button mat-raised-button class='mx-2' *ngFor="let justification of justifications"
              (click)="toggleJustification(justification)" [disabled]='f?.controls?.pinVerification?.valid'>
              {{justification}}
            </button>
          </div>
          <mat-form-field class="full-width">
            <textarea matInput placeholder='PIN verification' rows='5' [(ngModel)]='comment.pinVerification'
              name='pinVerification' required></textarea>
            <mat-hint align='end'>This field is required</mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea matInput placeholder='Email verification' rows='5' [(ngModel)]='comment.emailVerification'
              name='emailVerification'></textarea>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>Additional information</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class='py-5'>
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="picker" placeholder="Next follow up date"
              [(ngModel)]='comment.followupDate' name='followupDate'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-select placeholder='Case status' [(ngModel)]='comment.status' name='status' required>
              <mat-option *ngFor="let status of statuses" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
            <mat-hint align='end'>This field is required</mat-hint>

          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-2">
      <mat-card>
        <app-comment [form]='f' type='inbound'></app-comment>
      </mat-card>
    </div>
  </div>
</form>